html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

.container{
    margin: 0;
    height: 100%;
    width: 100%;
}

.list{
    margin: 0;
    height: 100%;
    width: 20%;
    float: left;
}

.map {
    margin: 0;
    height: 100%;
    width: 80%;
    float: left;
}